html {
	position: relative; 
	min-height: 100%;
}

body {
	color: #3D3F50;
	background-color: #3D3F50;
	font-family: 'Cabin', sans-serif;
}

a {
	text-decoration: none;
	color: #3D3f50;
	font-size: 1.25em;
}

a:hover {
	text-decoration: none;
	color: #8588A3
}

h1 {
	margin: 45;
}

h2 {
	margin: 0 0 1em;
}

h3 {
	margin: 0 0 0.5em;
}

hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #3D3f50;
    margin: 1em 0;
    padding: 0; 
}

#text-container {
	font-family: 'Cabin', sans-serif;
	font-size: 1.25em;
}

#header {
	color: #3D3f50;
	z-index: 100;
	padding: 0px 0px;
	background: #DDFFE0;
	position: fixed;
	top: -10;
	height: 90px;
	width: 100%;
	margin: auto;
}

#nav {
	z-index: 100;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	top: 0;
	background-color: #DDFFE0;
	width: 100%;
	height: auto;
}

#nav ul {
	margin: 0;
	padding: 5;
	list-style: none;
}

#nav li {
	display: inline;
	padding: 0px 15px 0px 0px;
}

#main-2 { /* this is for the projects page */
	width: 100%;
	height: auto;
	padding: 100px 20px 50px;
	background: #A1DACE;
}

.img{
    width: 200px;
    height: 200px;
    background-size: cover;
}

img {
    max-width: 100%;
    max-height: 500px;
    width: auto\9; /* ie8 */
}

img:hover {
	-webkit-filter: drop-shadow(10px 10px 0px #3D3f50);
    cursor: pointer;
}

/* For index name covers*/

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h4 { 
   position: absolute; 
   top: 50px; 
   left: 0; 
   width: 100%;
}

h4 span { 
   color: white; 
   letter-spacing: 0px;  
   background: #3D3f50; /* fallback color */
   background: rgba(61, 63, 80, 0.75);
   padding: 10px; 
}

h4 span.spacer {
   	padding:0 5px;
}

/* End of index name covers*/

#check:checked ~ label #cover{
    display:block;
}

#cover{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.5);
    display:none;
}

#box{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    max-width: 1000px;
    max-height: 500px;
    width: auto\9; /* ie8 */
    border:0px solid white;
}

#footer {
	color: #3D3f50;
	position: fixed;
	padding: 5px 0px;
	background: #FFDDFC;
	height: 30px;
	bottom: 0;
	width: 100%;
	font-size: 1.25em;
	z-index: 1;
}

#footer p {
	margin: 0;
	font-size: 1.0em;
}

#container {
	width: 800px;
	margin: 0 auto;
	background: #99C;
}

* html #footer {
	height: 1px;
}
