html {
	position: relative; 
	min-height: 100%;
}

body {
	color: #3D3F50;
	margin: 0 0 0px;
	padding: 0;
	background-color: #3D3F50;
	font-family: 'Cabin', sans-serif;
}

a {
	text-decoration: none;
	color: #3D3f50;
	font-size: 1.1em;
}

a:hover {
	text-decoration: none;
	color: #8588A3
}

h1 {
	margin: 45;
}

h2 {
	margin: 0 0 1em;
}

h3 {
	margin: 0 0 1em;
}

hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #3D3f50;
    margin: 2em 0;
    padding: 0; 
}

#text-container {
	font-family: 'Cabin', sans-serif;
	font-size: 1.1em;
}

#header {
	color: #3D3f50;
	z-index: 100;
	padding: 0px 0px;
	background: #DDFFE0;
	position: fixed;
	top: -10;
	height: 90px;
	width: 100%;
	margin: auto;
}

#nav {
	z-index: 100;
	margin-left: auto;
	margin-right: auto;
	padding: 1px 10px; 
	position: fixed;
	top: 0;
	background-color: #DDFFE0;
	width: 100%;
	height: 30px;
}

#nav ul {
	margin: 0;
	padding: 5;
	list-style: none;
}

#nav li {
	display: inline;
	padding: 5px 75px 5px 0px;
}

#main {
	float: right;
	width: 460px;
	padding: 0px 20px 80px;
	background: #DDFFF1;
	height: auto;
}

#main-2 { /* this is for the projects page */
	width: auto;
	padding: 100px 20px 40px;
	background: #A1DACE;
	height: auto;
}

.img{
    width: 200px;
    height: 200px;
    background-size: cover;
}

img {
    max-width: 100%;
    max-height: 720px;
    width: auto\9; /* ie8 */
}

img:hover {
	-webkit-filter: drop-shadow(10px 10px 0px #3D3f50);
    cursor: pointer;
}

#sidebar {
	float: left;
	width: 280px;
	padding: 0px 10px 200px;
	background: #A1CADA;
	height: auto;
}

#sidebar ul {
	list-style: none;
}

#sidebar li {
	margin: 10px 0;
}

#footer {
	color: #3D3f50;
	position: fixed;
	padding: 0px 0px;
	background: #FFDDFC;
	height: 20px;
	bottom: 0;
	width: 100%;
}

#footer p {
	margin: 0;
	font-size: 1.0em;
}

#container {
	width: 800px;
	margin: 0 auto;
	background: #99C;
}

* html #footer {
	height:1px;
}
